
.content {
    width:87%;
    height: 100%;
    margin-top: 0px;
    /*margin-left: 155px;*/
    margin-right: 5px;
    position: fixed;
    overflow: scroll;
    top: 55px;
    left: 155px;
    background-color: white;
    border-radius: 8px;
}
.content h2 {
    width: 500px;
    margin: 72px auto;
    text-align: center;
}
.content h3 {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-weight: lighter;
}

/**
* 首页
*/
.info-content {
    width: 600px;
    margin: 0 auto;
}

/**
* 实验室管理
*/
#all-room .flex-box{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#all-room .card {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin: 20px;
    flex-shrink: 0;
    background: #00bcd4;
    -webkit-box-shadow: 2px 2px 12px;
            box-shadow: 2px 2px 12px;
}

#all-room .all-roomId {
    font-size: 28px;
    padding-left: 10px;
    color: #eee;
}

#all-room .all-teacher {
    font-size: 18px;
    padding: 30px 0 30px 50px;
    color: #eee;
}

.all-buttonGroup {
    display: block;
    text-align: center;
    margin-top: 16px;
}

.all-buttonGroup button {
    margin: 0 2px;
}

/**
* 预约状态
*/
#all-orderState .order {
    width: 80%;
    height: 150px;
    margin: 50px auto;
    display: block;
    background: #e1e1e1;
    color: #666;
}
#all-orderState .order:hover {
    color: white;
}
#all-lab-orderState .hvr-sweep-to-right:before{
    background: #00bcd4;
}
#all-equip-orderState .hvr-sweep-to-right:before{
    background: #ef4566;
}

#all-lab-orderState .allLabOrderId,
#all-equip-orderState .allEquipOrderId
 {
    position: absolute;
    top: 7%;
    left: 2%;
    font-size: 18px;
}
#all-lab-orderState .allLabOrderDate,
#all-equip-orderState .allEquipOrderDate {
    position: absolute;
    bottom: 15%;
    right: 2%;
}
#all-lab-orderState .allLabOrderContent,
#all-equip-orderState .allEquipOrderContent{
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 24px;
}
#all-lab-orderState .allLabOrderState,
#all-equip-orderState .allEquipOrderState{
    position: absolute;
    bottom: 2%;
    right: 2%;
}

/**
* 数据查询统计
*/
#lab-db .search-modal {
    width: 260px;
    margin: 0 auto;
}

#lab-db .input-search {
    display: inline-block;
    width: 200px;
}

#search-btn {
    margin-bottom: 57px;
}

.db-table {
    width: 90%;
    margin: 0 auto;
}

/**
* 设备仪器预约
*/
#lab-equip .flex-box{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#lab-equip .card {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin: 20px;
    flex-shrink: 0;
    background: #03a9f4;
    -webkit-box-shadow: 2px 2px 12px;
            box-shadow: 2px 2px 12px;
}

#lab-equip .lab-equipName {
    font-size: 18px;
    padding: 60px 0 30px 50px;
    color: #eee;
}

.lab-buttonGroup {
    margin-top: 10px;
    text-align: center;
}

.lab-buttonGroup button {
    margin: 0 18px;
}

/**
* 公告管理
*/
#noticeAdd-btn {
    display: block;
    margin: 0 auto;
}

#daily-notice .notice {
    width: 80%;
    height: 150px;
    margin: 50px auto;
    display: block;
    background: #e1e1e1;
    color: #666;
}
#daily-notice .notice:hover {
    color: white;
}
#daily-notice .noticeId {
    position: absolute;
      top: 7%;
      left: 2%;
      font-size: 18px;
}
#daily-notice .noticeDate {
    position: absolute;
    bottom: 15%;
    right: 2%;
}
#daily-notice .noticeContent {
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 24px;
}
#daily-notice .noticeAuthor {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

/**
* 设备仪器管理
*/
#pro-equip .flex-box{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#pro-equip .card {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin: 20px;
    flex-shrink: 0;
    background: #00bcd4;
    -webkit-box-shadow: 2px 2px 12px;
            box-shadow: 2px 2px 12px;
}
#pro-equip .pro-equipName {
    font-size: 18px;
    padding: 60px 0 30px 50px;
    color: #eee;
}
#pro-equip .pro-buttonGroup {
    margin-top: 10px;
}

#pro-equip .pro-buttonGroup button {
    margin: 0 18px;
}
#pro-equipAdd {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin: 20px;
    flex-shrink: 0;
    background: #ef4566;
    -webkit-box-shadow: 2px 2px 12px;
            box-shadow: 2px 2px 12px;
}

/**
* 实验室管理
*/
#pro-labRoom .flex-box{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#pro-labRoom .card {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin: 20px;
    flex-shrink: 0;
    background: #00bcd4;
    -webkit-box-shadow: 2px 2px 12px;
            box-shadow: 2px 2px 12px;
}
#pro-labRoom .pro-labRoomName {
    font-size: 18px;
    padding: 60px 0 30px 50px;
    color: #eee;
}
#pro-labRoom .pro-buttonGroup {
    margin-top: 10px;
}

#pro-labRoom .pro-buttonGroup button {
    margin: 0 18px;
}
#pro-labRoomAdd {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin: 20px;
    flex-shrink: 0;
    background: #ef4566;
    -webkit-box-shadow: 2px 2px 12px;
            box-shadow: 2px 2px 12px;
}

/**
* 预约管理
*/
#pro-order .order {
    width: 80%;
    height: 150px;
    margin: 50px auto;
    display: block;
    background: #e1e1e1;
    color: #666;
}
#pro-order .order:hover {
    color: white;
}
#pro-lab-order .hvr-sweep-to-right:before{
    background: #00bcd4;
}
#pro-equip-order .hvr-sweep-to-right:before{
    background: #ef4566;
}

#pro-lab-order .labOrderId,
#pro-equip-order .equipOrderId
 {
    position: absolute;
    top: 7%;
    left: 2%;
    font-size: 18px;
}
#pro-lab-order .labOrderDate,
#pro-equip-order .equipOrderDate {
    position: absolute;
    bottom: 15%;
    left: 2%;
}
#pro-lab-order .labOrderContent,
#pro-equip-order .equipOrderContent{
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 24px;
}
#pro-lab-order .labOrderApplicant,
#pro-equip-order .equipOrderApplicant{
    position: absolute;
    bottom: 2%;
    left: 2%;
}
.pro-order-btnGroup {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

/**
* 出勤状态
*/
#stu-duty .dutyState {
    width: 80%;
    height: 150px;
    margin: 50px auto;
    display: block;
    background: #e1e1e1;
    color: #666;
}
#stu-duty .dutyState:hover {
    color: white;
}
#stu-duty .dutyStateContent {
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 24px;
}
#stu-duty .dutyStateStatus {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

/**
* 查看成绩
*/
#stu-checkGrade .checkGrade {
    width: 80%;
    height: 150px;
    margin: 50px auto;
    display: block;
    background: #e1e1e1;
    color: #666;
}
#stu-checkGrade .checkGrade:hover {
    color: white;
}
#stu-checkGrade .checkGradeContent {
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 24px;
}
#stu-checkGrade .checkGradeStatus {
    position: absolute;
    bottom: 2%;
    right: 2%;
}
#stu-checkGrade .checkGradeLab {
    position: absolute;
      top: 7%;
      left: 2%;
      font-size: 18px;
}

/**
* 教师专区
*/
#tea-course .course {
    width: 80%;
    height: 150px;
    margin: 50px auto;
    display: block;
    background: #e1e1e1;
    color: #666;
}
#tea-course .course:hover {
    color: white;
}
#tea-course .tea-courseId {
    position: absolute;
    top: 7%;
    left: 2%;
    font-size: 18px;
}
#tea-course .tea-courseContent {
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 24px;
}
#tea-course .tea-course-check-btn {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

#tea-correctGrade .flex-box{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#tea-correctGrade .card {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin: 20px;
    flex-shrink: 0;
    background: #00bcd4;
    -webkit-box-shadow: 2px 2px 12px;
            box-shadow: 2px 2px 12px;
}

#tea-correctGrade .tea-correct-btn {
    display: block;
    margin: 0 auto;
}

#tea-correctGrade .tea-correctGrade-labName {
    font-size: 24px;
    padding: 60px 0 30px 50px;
    color: #eee;
}

#tea-correctGrade .tea-labId {
    position: absolute;
    top: 7%;
    left: 2%;
    font-size: 18px;
    color: #eee;
}
