body {
    background: #e5e5e5;
}

/**
* 左菜单样式
*/
#menuLeft{
    width: 120px;
    height: 100%;
    position: fixed;
    top: 55px;
    background-color: white;
    border-radius: 4px;
}

#menuLeft ul{
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: disc;
}

#menuLeft li {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    border-left: 3px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    list-style-type: none;
    border-radius: 4px;
}

#menuLeft li :hover {
  transition: 1s;
  color: #007aff;
  background-color: #f9f9f9;
}

#menuLeft li a {
    line-height: 60px;
    font-size: 15px;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #4f5f6f;
    text-decoration: none;
}

#menuLeft .active {
    background-color: #f9f9f9;
    border-left: 3px solid #007aff;
}
