body {
    background: white;
    font-family: '微软雅黑';
    font-weight: lighter;
}

/**
* 上方导航栏
*/
.navbar-brand img{
    height: 60px;
    margin-top: -15px;
    margin-left: 20px;
}
.navbar-nav {
    margin-left: 48px;
}
.navbar-default {
    border: none;
    background-color: #293c55;
    color: white;
    border-radius: 0px;
    border-bottom-style: solid;
    border-bottom-color: #162436;
    border-bottom-width: 1px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #f9f9f9;
    background-color: #162436;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
   color: #f9f9f9;
   background-color: #162436;
   transition: 0.5s;
}
.navbar-default .navbar-nav>li>a {
    color: #f9f9f9;
    transition: 0.5s;
}

/**
* 左菜单样式
*/
#menuLeft{
    width: 140px;
    height: 100%;
    position: fixed;
    top: 50px;
    background-color: #293c55;
    border-top-style: solid;
    border-top-color: #162436;
    border-top-width: 1px;
    color: #ccc;
}
#menuLeft ul{
    padding-left: 0px;
}
#menuLeft li {
    list-style: none;
    height: 54px;
    padding: 17px 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}
#menuLeft li:hover {
    background-color: #162436;
}
#menuLeft li.active {
    background-color: #e43c59;
}
#menuLeft li.active span {
    color: #fff;
}
#menuLeft li a {
    text-decoration: none;
    color: #ccc;
    position: relative;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
