<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lab_manager.dao.CourseTableDtoMapper">
  <resultMap id="BaseResultMap" type="org.lab_manager.model.CourseTableDto">
    <id column="Course_id" jdbcType="INTEGER" property="courseId" />
    <result column="Course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="Class" jdbcType="VARCHAR" property="class" />
    <result column="Term" jdbcType="INTEGER" property="term" />
    <result column="Room_num" jdbcType="VARCHAR" property="roomNum" />
    <result column="Teacher" jdbcType="VARCHAR" property="teacher" />
    <result column="Start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="End_time" jdbcType="VARCHAR" property="endTime" />
    <result column="course_tablecol" jdbcType="VARCHAR" property="courseTablecol" />
  </resultMap>
  <sql id="Base_Column_List">
    Course_id, Course_name, Class, Term, Room_num, Teacher, Start_time, End_time, course_tablecol
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_table
    where Course_id = #{courseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_table
    where Course_id = #{courseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lab_manager.model.CourseTableDto">
    insert into course_table (Course_id, Course_name, Class, 
      Term, Room_num, Teacher, 
      Start_time, End_time, course_tablecol
      )
    values (#{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{class,jdbcType=VARCHAR}, 
      #{term,jdbcType=INTEGER}, #{roomNum,jdbcType=VARCHAR}, #{teacher,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{courseTablecol,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.lab_manager.model.CourseTableDto">
    insert into course_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        Course_id,
      </if>
      <if test="courseName != null">
        Course_name,
      </if>
      <if test="class != null">
        Class,
      </if>
      <if test="term != null">
        Term,
      </if>
      <if test="roomNum != null">
        Room_num,
      </if>
      <if test="teacher != null">
        Teacher,
      </if>
      <if test="startTime != null">
        Start_time,
      </if>
      <if test="endTime != null">
        End_time,
      </if>
      <if test="courseTablecol != null">
        course_tablecol,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="class != null">
        #{class,jdbcType=VARCHAR},
      </if>
      <if test="term != null">
        #{term,jdbcType=INTEGER},
      </if>
      <if test="roomNum != null">
        #{roomNum,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="courseTablecol != null">
        #{courseTablecol,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lab_manager.model.CourseTableDto">
    update course_table
    <set>
      <if test="courseName != null">
        Course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="class != null">
        Class = #{class,jdbcType=VARCHAR},
      </if>
      <if test="term != null">
        Term = #{term,jdbcType=INTEGER},
      </if>
      <if test="roomNum != null">
        Room_num = #{roomNum,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        Teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        Start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        End_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="courseTablecol != null">
        course_tablecol = #{courseTablecol,jdbcType=VARCHAR},
      </if>
    </set>
    where Course_id = #{courseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lab_manager.model.CourseTableDto">
    update course_table
    set Course_name = #{courseName,jdbcType=VARCHAR},
      Class = #{class,jdbcType=VARCHAR},
      Term = #{term,jdbcType=INTEGER},
      Room_num = #{roomNum,jdbcType=VARCHAR},
      Teacher = #{teacher,jdbcType=VARCHAR},
      Start_time = #{startTime,jdbcType=VARCHAR},
      End_time = #{endTime,jdbcType=VARCHAR},
      course_tablecol = #{courseTablecol,jdbcType=VARCHAR}
    where Course_id = #{courseId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="model.CourseTableDto">
    <id column="Course_id" jdbcType="INTEGER" property="courseId" />
    <result column="Course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="Class" jdbcType="VARCHAR" property="class" />
    <result column="Term" jdbcType="INTEGER" property="term" />
    <result column="Room_num" jdbcType="VARCHAR" property="roomNum" />
    <result column="Teacher" jdbcType="VARCHAR" property="teacher" />
    <result column="Start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="End_time" jdbcType="VARCHAR" property="endTime" />
    <result column="course_tablecol" jdbcType="VARCHAR" property="courseTablecol" />
  </resultMap>
  <sql id="Base_Column_List">
    Course_id, Course_name, Class, Term, Room_num, Teacher, Start_time, End_time, course_tablecol
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_table
    where Course_id = #{courseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_table
    where Course_id = #{courseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.CourseTableDto">
    insert into course_table (Course_id, Course_name, Class, 
      Term, Room_num, Teacher, 
      Start_time, End_time, course_tablecol
      )
    values (#{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{class,jdbcType=VARCHAR}, 
      #{term,jdbcType=INTEGER}, #{roomNum,jdbcType=VARCHAR}, #{teacher,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{courseTablecol,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.CourseTableDto">
    insert into course_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        Course_id,
      </if>
      <if test="courseName != null">
        Course_name,
      </if>
      <if test="class != null">
        Class,
      </if>
      <if test="term != null">
        Term,
      </if>
      <if test="roomNum != null">
        Room_num,
      </if>
      <if test="teacher != null">
        Teacher,
      </if>
      <if test="startTime != null">
        Start_time,
      </if>
      <if test="endTime != null">
        End_time,
      </if>
      <if test="courseTablecol != null">
        course_tablecol,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="class != null">
        #{class,jdbcType=VARCHAR},
      </if>
      <if test="term != null">
        #{term,jdbcType=INTEGER},
      </if>
      <if test="roomNum != null">
        #{roomNum,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="courseTablecol != null">
        #{courseTablecol,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.CourseTableDto">
    update course_table
    <set>
      <if test="courseName != null">
        Course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="class != null">
        Class = #{class,jdbcType=VARCHAR},
      </if>
      <if test="term != null">
        Term = #{term,jdbcType=INTEGER},
      </if>
      <if test="roomNum != null">
        Room_num = #{roomNum,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        Teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        Start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        End_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="courseTablecol != null">
        course_tablecol = #{courseTablecol,jdbcType=VARCHAR},
      </if>
    </set>
    where Course_id = #{courseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.CourseTableDto">
    update course_table
    set Course_name = #{courseName,jdbcType=VARCHAR},
      Class = #{class,jdbcType=VARCHAR},
      Term = #{term,jdbcType=INTEGER},
      Room_num = #{roomNum,jdbcType=VARCHAR},
      Teacher = #{teacher,jdbcType=VARCHAR},
      Start_time = #{startTime,jdbcType=VARCHAR},
      End_time = #{endTime,jdbcType=VARCHAR},
      course_tablecol = #{courseTablecol,jdbcType=VARCHAR}
    where Course_id = #{courseId,jdbcType=INTEGER}
  </update>
</mapper>