<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lab_manager.dao.ManageLabDtoMapper">
  <resultMap id="BaseResultMap" type="org.lab_manager.model.ManageLabDto">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Room_num" jdbcType="INTEGER" property="roomNum" />
    <result column="Comment" jdbcType="VARCHAR" property="comment" />
    <result column="Manage_teacher" jdbcType="VARCHAR" property="manageTeacher" />
    <result column="Intro" jdbcType="VARCHAR" property="intro" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Room_num, Comment, Manage_teacher, Intro
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manage_lab
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from manage_lab
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lab_manager.model.ManageLabDto">
    insert into manage_lab (ID, Room_num, Comment, 
      Manage_teacher, Intro)
    values (#{id,jdbcType=INTEGER}, #{roomNum,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, 
      #{manageTeacher,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.lab_manager.model.ManageLabDto">
    insert into manage_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roomNum != null">
        Room_num,
      </if>
      <if test="comment != null">
        Comment,
      </if>
      <if test="manageTeacher != null">
        Manage_teacher,
      </if>
      <if test="intro != null">
        Intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomNum != null">
        #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="manageTeacher != null">
        #{manageTeacher,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lab_manager.model.ManageLabDto">
    update manage_lab
    <set>
      <if test="roomNum != null">
        Room_num = #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        Comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="manageTeacher != null">
        Manage_teacher = #{manageTeacher,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        Intro = #{intro,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lab_manager.model.ManageLabDto">
    update manage_lab
    set Room_num = #{roomNum,jdbcType=INTEGER},
      Comment = #{comment,jdbcType=VARCHAR},
      Manage_teacher = #{manageTeacher,jdbcType=VARCHAR},
      Intro = #{intro,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="model.ManageLabDto">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Room_num" jdbcType="INTEGER" property="roomNum" />
    <result column="Comment" jdbcType="VARCHAR" property="comment" />
    <result column="Manage_teacher" jdbcType="VARCHAR" property="manageTeacher" />
    <result column="Intro" jdbcType="VARCHAR" property="intro" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Room_num, Comment, Manage_teacher, Intro
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manage_lab
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from manage_lab
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.ManageLabDto">
    insert into manage_lab (ID, Room_num, Comment, 
      Manage_teacher, Intro)
    values (#{id,jdbcType=INTEGER}, #{roomNum,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, 
      #{manageTeacher,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.ManageLabDto">
    insert into manage_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roomNum != null">
        Room_num,
      </if>
      <if test="comment != null">
        Comment,
      </if>
      <if test="manageTeacher != null">
        Manage_teacher,
      </if>
      <if test="intro != null">
        Intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomNum != null">
        #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="manageTeacher != null">
        #{manageTeacher,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.ManageLabDto">
    update manage_lab
    <set>
      <if test="roomNum != null">
        Room_num = #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        Comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="manageTeacher != null">
        Manage_teacher = #{manageTeacher,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        Intro = #{intro,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.ManageLabDto">
    update manage_lab
    set Room_num = #{roomNum,jdbcType=INTEGER},
      Comment = #{comment,jdbcType=VARCHAR},
      Manage_teacher = #{manageTeacher,jdbcType=VARCHAR},
      Intro = #{intro,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>