<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lab_manager.dao.UseLabDtoMapper">
  <resultMap id="BaseResultMap" type="org.lab_manager.model.UseLabDto">
    <id column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="Applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="Start_date" jdbcType="DATE" property="startDate" />
    <result column="End_date" jdbcType="DATE" property="endDate" />
    <result column="Purpose" jdbcType="VARCHAR" property="purpose" />
  </resultMap>
  <sql id="Base_Column_List">
    room_id, Applicant, Start_date, End_date, Purpose
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from use_lab
    where room_id = #{roomId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from use_lab
    where room_id = #{roomId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lab_manager.model.UseLabDto">
    insert into use_lab (room_id, Applicant, Start_date, 
      End_date, Purpose)
    values (#{roomId,jdbcType=INTEGER}, #{applicant,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE}, 
      #{endDate,jdbcType=DATE}, #{purpose,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.lab_manager.model.UseLabDto">
    insert into use_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        room_id,
      </if>
      <if test="applicant != null">
        Applicant,
      </if>
      <if test="startDate != null">
        Start_date,
      </if>
      <if test="endDate != null">
        End_date,
      </if>
      <if test="purpose != null">
        Purpose,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="applicant != null">
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="purpose != null">
        #{purpose,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lab_manager.model.UseLabDto">
    update use_lab
    <set>
      <if test="applicant != null">
        Applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        Start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        End_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="purpose != null">
        Purpose = #{purpose,jdbcType=VARCHAR},
      </if>
    </set>
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lab_manager.model.UseLabDto">
    update use_lab
    set Applicant = #{applicant,jdbcType=VARCHAR},
      Start_date = #{startDate,jdbcType=DATE},
      End_date = #{endDate,jdbcType=DATE},
      Purpose = #{purpose,jdbcType=VARCHAR}
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="model.UseLabDto">
    <id column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="Applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="Start_date" jdbcType="DATE" property="startDate" />
    <result column="End_date" jdbcType="DATE" property="endDate" />
    <result column="Purpose" jdbcType="VARCHAR" property="purpose" />
  </resultMap>
  <sql id="Base_Column_List">
    room_id, Applicant, Start_date, End_date, Purpose
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from use_lab
    where room_id = #{roomId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from use_lab
    where room_id = #{roomId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.UseLabDto">
    insert into use_lab (room_id, Applicant, Start_date, 
      End_date, Purpose)
    values (#{roomId,jdbcType=INTEGER}, #{applicant,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE}, 
      #{endDate,jdbcType=DATE}, #{purpose,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.UseLabDto">
    insert into use_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        room_id,
      </if>
      <if test="applicant != null">
        Applicant,
      </if>
      <if test="startDate != null">
        Start_date,
      </if>
      <if test="endDate != null">
        End_date,
      </if>
      <if test="purpose != null">
        Purpose,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="applicant != null">
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="purpose != null">
        #{purpose,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.UseLabDto">
    update use_lab
    <set>
      <if test="applicant != null">
        Applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        Start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        End_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="purpose != null">
        Purpose = #{purpose,jdbcType=VARCHAR},
      </if>
    </set>
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.UseLabDto">
    update use_lab
    set Applicant = #{applicant,jdbcType=VARCHAR},
      Start_date = #{startDate,jdbcType=DATE},
      End_date = #{endDate,jdbcType=DATE},
      Purpose = #{purpose,jdbcType=VARCHAR}
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
</mapper>